Repository mdn/kumascript, pull requests merged in 2018-10, with the labels that each got.

#897 rm localize
  macros/localize.ejs
Labels: Macro massacre

#906 Delete jsapi_compiled_script_example_pointer macro
  macros/jsapi_compiled_script_example_pointer.ejs
Labels: Macro massacre

#910 rm PrivilegedBadge
  macros/PrivilegedBadge.ejs
Labels: Macro massacre

#909 rm domevent
  macros/domevent.ejs
Labels: Macro massacre

#911 rm CreateFeatureBoxes
  macros/CreateFeatureBoxes.ejs
Labels: Macro massacre

#912 rm WebExtAPIEmbedType
  macros/WebExtAPIEmbedType.ejs
Labels: Macro massacre

#913 rm WRONG_DOCUMENT_ERR_note
  macros/WRONG_DOCUMENT_ERR_note.ejs
Labels: Macro massacre

#915 rm DOM_Whitespace_note
  macros/DOM_Whitespace_note.ejs
Labels: Macro massacre

#916 Delete npapi-section macro
  macros/npapi-section.ejs
Labels: Macro massacre

#925 rm IconBadge
  macros/IconBadge.ejs
Labels: Macro massacre

#926 rm xpinstall-reference
  macros/xpinstall-reference.ejs
Labels: Macro massacre

#927 rm HTMLVersionHeader
  macros/HTMLVersionHeader.ejs
Labels: Macro massacre

#928 rm-JSFiddleLink
  macros/JSFiddleLink.ejs
Labels: Macro massacre

#929 rm DOMLiveSample
  macros/DOMLiveSample.ejs
Labels: Macro massacre

#931 rm CSSRefExampleLink
  macros/CSSRefExampleLink.ejs
Labels: Macro massacre

#934 rm FirefoxOSAPIRef
  macros/FirefoxOSAPIRef.ejs
Labels: Macro massacre

#935 rm Firefox_OS_for_developers
  macros/Firefox_OS_for_developers.ejs
Labels: Macro massacre

#937 rm HTMLMainQuickLinks
  macros/HTMLMainQuickLinks.ejs
Labels: Macro massacre

#938 Delete CompatEdge macro
  macros/CompatEdge.ejs
Labels: Macro massacre

#941 rm MDNButton
  macros/MDNButton.ejs
Labels: Macro massacre

#947 rm js_see_prototype
  macros/js_see_prototype.ejs
Labels: Macro massacre

#953 Delete CompatGeckoFxOS macro
  macros/CompatGeckoFxOS.ejs
Labels: Macro massacre

#952 Delete WebExtCompat macro
  macros/WebExtCompat.ejs
Labels: Macro massacre

#948 rm es7
  macros/es7.ejs
Labels: Macro massacre

#961 refactor(Macro Massacre): Delete {{id}}
  macros/id.ejs
Labels: Macro massacre

#919 Addition of the development tools page to the Firefox workflow section
  macros/AddonSidebar.ejs
Labels: sidebar-content

#921 Adding the new page of best practices for onboarding, upboarding, and…
  macros/AddonSidebar.ejs
Labels: sidebar-content

#806 Change wording of vendor prefix note in compat table
  macros/L10n-CompatTable.json
Labels: bcd

#965 Removing lightweight themes from the sidebar.
  macros/AddonSidebar.ejs
Labels: sidebar-content

#967 Browser extensions sidebar update - Firefox differentiators
  macros/AddonSidebar.ejs
Labels: sidebar-content
