Repository mdn/kumascript, pull requests merged in 2018-11, with the labels that each got.

#950 Update SpecData XPath 2.0 URL
  macros/SpecData.json
Labels: json-data

#951 Update SpecData CSS Logical Properties URL
  macros/SpecData.json
Labels: json-data

#946 Update SpecData.json CSP: Embedded Enforcement URL
  macros/SpecData.json
Labels: json-data

#901 Fix SpecData.json Static Range URL
  macros/SpecData.json
Labels: json-data

#900 Fix SpecData.json Input Events Level 2 URL
  macros/SpecData.json
Labels: json-data

#899 Fix SpecData.json DeviceOrientation URL
  macros/SpecData.json
Labels: json-data

#878 Add trailing slashes to Media Capabilities, XMLHttpRequest, and Compatibility spec URLs
  macros/SpecData.json
Labels: json-data

#930 Define WebDriver as living
  macros/SpecData.json
Labels: json-data

#936 Updating device orientation event specification
  macros/SpecData.json
Labels: json-data

#793 Added WAI-ARIA Authoring Practices
  macros/SpecData.json
Labels: json-data

#962 GroupData: Update Fullscreen API to match current spec
  macros/GroupData.json
Labels: json-data

#973 moving the accessiblity inspector to be a core tool
  macros/ToolsSidebar.ejs
Labels: sidebar-content

#976 Browser extensions sidebar menu update…
  macros/AddonSidebar.ejs
Labels: sidebar-content

#903 Drop redundant SpecData.json 'Web Background Sync'
  macros/SpecData.json
Labels: json-data

#968 Add Spanish support to Glossary macro
  macros/Glossary.ejs
Labels: l10n

#805 Update "Tracking Preference Expression (DNT)" Editor's draft URL
  macros/SpecData.json
Labels: json-data

#975 Update SeeCompatTable.ejs
  macros/SeeCompatTable.ejs
Labels: l10n

#673 pt-BR translations for HTMLSidebar macro
  macros/HTMLSidebar.ejs
Labels: l10n

#932 Add CSS Scroll Anchoring to SpecData
  macros/SpecData.json
Labels: json-data

#674 pt-BR translations for JsSidebar macro
  macros/JsSidebar.ejs
Labels: l10n

#991 Fix name of the overview page for Background Tasks
  macros/GroupData.json
Labels: json-data

#1007 Add Media Playback Quality specification
  macros/SpecData.json
Labels: json-data
