Repository mdn/kumascript, pull requests merged in 2019-06, with the labels that each got.

#1176 Remove underscores in French title
  macros/MDNSidebar.ejs
Labels: l10n, sidebar-content

#977 Add overview to Intersection Observer API
  macros/GroupData.json
Labels: json-data

#972 Adding the ScrollToOptions dictionary to the CSSOM View group
  macros/GroupData.json
Labels: json-data

#944 Adding Storage Access API data to GroupData.json
  macros/GroupData.json
Labels: json-data

#1182 Remove Edge Mobile from compat table
  macros/Compat.ejs
  macros/L10n-CompatTable.json
  tests/macros/Compat.test.js
Labels: bcd
