Repository mdn/kumascript, pull requests merged in 2019-02, with the labels that each got.

#1060 Delete JSObjectOps_warning
  macros/JSObjectOps_warning.ejs
Labels: Macro massacre

#1061 Remove NotAvailableInWorkerInline
  macros/NotAvailableInWorkerInline.ejs
Labels: Macro massacre

#1064 Delete *MSDN* macro (not all *MDN* macros)
  macros/MSDN.ejs
Labels: Macro massacre

#1063 Deleting Referencia_XSLT
  macros/Referencia_XSLT.ejs
Labels: Macro massacre

#1066 Delete SeeDOMInterface
  macros/SeeDOMInterface.ejs
Labels: Macro massacre

#1071 Delete renamed_inline
  macros/renamed_inline.ejs
Labels: Macro massacre

#999 removing the webgl content from the learning area sidebar, and adding…
  macros/LearnSidebar.ejs
  macros/WebGLSidebar.ejs
Labels: sidebar-content

#1070 Delete ChromeBug
  macros/ChromeBug.ejs
Labels: Macro massacre

#1067 test(macros): Format GroupData test
  tests/macros/groupdata.test.js
Labels: test-only

#1068 Add new docs to Web Crypto API GroupData
  macros/GroupData.json
Labels: json-data

#1084 fix(macros/Compat): Fix typos and white space
  macros/Compat.ejs
  tests/macros/Compat.test.js
Labels: bcd

#1086 fix(macros/Compat): Fix stray closing `</tr>` tag
  macros/Compat.ejs
  tests/macros/Compat.test.js
Labels: bcd

#1085 fix(macros/Compat): Improve `mdn_url` handling
  macros/Compat.ejs
  tests/macros/Compat.test.js
  tests/macros/fixtures/compat/feature_labels.json
Labels: bcd

#1088 Remove 'Basic support' label
  macros/Compat.ejs
  macros/L10n-CompatTable.json
  tests/macros/Compat.test.js
  tests/macros/fixtures/compat/feature_labels.json
Labels: bcd
