Repository mdn/kumascript, pull requests merged in 2019-08, with the labels that each got.

#1116 Update IndexedDB 2 macro
  macros/SpecData.json
Labels: json-data, spec-data

#1201 Add Russian translation for no_tag_omission string
  macros/no_tag_omission.ejs
Labels: l10n

#1211 Remove XUL *cached macros
  macros/XULAttrInheritedNoCache.ejs
  macros/XULPropInheritedNoCache.ejs
Labels: Macro massacre

#1207 adding overview page to console api groupdata
  macros/GroupData.json
Labels: json-data

#1209 Add WebXR Device API
  macros/SpecData.json
Labels: spec-data

#1203 Added XSLT specifications to SpecData macro
  macros/SpecData.json
Labels: spec-data

#1212 Remove macros BackToPage and DOMMeth
  macros/BackToPage.ejs
  macros/DOMMeth.ejs
Labels: Macro massacre
