Repository mdn/kumascript, pull requests merged in 2019-05, with the labels that each got.

#1143 Delete User xref macro
  macros/User.ejs
Labels: Macro massacre

#1144 Delete a11y Gecko macros
  macros/A11yRoleQuicklinks.ejs
  macros/a11yEventRef.ejs
  macros/a11yRoleRef.ejs
  macros/a11yStateRef.ejs
Labels: Macro massacre

#1158 Delete autoPreviousNext.ejs
  macros/autoPreviousNext.ejs
Labels: Macro massacre

#1142 delete various obsolete internals macros
  macros/Method_gecko_minversion.ejs
  macros/Method_noscript.ejs
  macros/Method_notxpcom.ejs
  macros/Method_obsolete_gecko.ejs
  macros/Noscript_inline.ejs
  macros/interface-attribute.ejs
  macros/interfaceattribute.ejs
  macros/interfaceconstants.ejs
  macros/interfacemethod.ejs
  macros/noscriptGeneric.ejs
  macros/notxpcomGeneric.ejs
  macros/notxpcom_inline.ejs
  macros/npapi-page.ejs
  macros/prefAnch.ejs
  macros/sm_minversion_inline.ejs
  macros/xpcomapi.ejs
Labels: Macro massacre

#1129 delete IFSummary* and InterfaceStatus macros
  macros/IFSummary.ejs
  macros/IFSummaryEnd.ejs
  macros/IFSummaryStart.ejs
  macros/InterfaceStatus.ejs
  macros/VersionTimeline.ejs
  macros/xverblob.ejs
Labels: Macro massacre

#1160 Delete FirefoxOSSidebar.ejs
  macros/FirefoxOSSidebar.ejs
Labels: Macro massacre

#1161 Delete LinkItem.ejs
  macros/LinkItem.ejs
Labels: Macro massacre

#1164 Delete MDCProjectPagesTOC.ejs
  macros/MDCProjectPagesTOC.ejs
Labels: Macro massacre

#1097 Adding dictionaries for WebAuthn / Web Authentication API
  macros/GroupData.json
Labels: json-data, sidebar-content

#1118 Add Spanish translations to Compat Table
  macros/L10n-CompatTable.json
Labels: l10n

#1157 Translate {{CanvasSidebar}} to Korean
  macros/CanvasSidebar.ejs
Labels: l10n
