Repository mdn/kumascript, pull requests merged in 2019-09, with the labels that each got.

#1057 test: Fix tests on Windows
  tests/macros/utils.js
  tests/templates.test.js
Labels: test-only

#1235 Deletion of CommunityBox and LandingPageListSubpagesPlus
  macros/CommunityBox.ejs
  macros/DiscussionList.ejs
  macros/LandingPageListSubpagesPlus.ejs
Labels: Macro massacre

#1236 Deletion of TopicBox macro
  macros/TopicBox.ejs
Labels: Macro massacre

#1183 Update SpecData status for Pointer Events API
  macros/SpecData.json
Labels: spec-data
